/*//META{"name":"Neutralized-Green","description":"Support Server: https://discord.gg/ADn3Mqd","author":"Waterin","version":"1.2.002"}*//**/
/*Theme*/
@import url(https://tinyurl.com/y8nuo4uc);
/*Fonts*/ /*Change link to be able to use your own font*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*Tags*/
@import url(https://cdn.rawgit.com/Waterin/Tags/master/Tags.css);
/*Emoji Module*/ 
@import url(https://cdn.rawgit.com/Waterin/Animations-Module/b27741e1/Emojis.css);
/*Avatar Module*/
@import url(https://cdn.rawgit.com/Waterin/Animations-Module/3dbc05a0/Neutralized-Green-Avatar-Animations.css);
/*Unread Module*/
@import url(https://cdn.rawgit.com/Waterin/Animations-Module/3dbc05a0/Neutralized-Green-Unread-Animations.css);
/*Status Animations Module*/
@import url(https://cdn.rawgit.com/Waterin/Animations-Module/3dbc05a0/Coloured-Discord-Status-Animations.css);

/*Example on how to disable a module*/
/*@import url(https://cdn.rawgit.com/Waterin/Animations-Module/b27741e1/Ignited-Discord-Avatar-Animations.css);*/
/*Must be done with the links above and not just add */

/*#*/ /*This symbol indicates what might cause major lag*/

/*Contact Waterin#6451 <@288053351579648000> or join https://discord.gg/ADn3Mqd for further help*/

:root {
    /*Background Image*/
	--main-bg: url(https://imgur.com/9OXdiFH.jpg) !important;
	/*Background Brightness*/
	--bg-brightness: 0.1; /*Adjust background brightness (0: original image, 1: black)*/
	/*Font Family Settings*/
	--theme-font: 'Ubuntu';
	/*Size of the avatar in chat*/
	--chatavatar-size: 40px; /*Default: 40px*/
	/*Size of the avatar in chat when hovered*/
	--chatavatar-size-on-hover: 70px; /*Default: 70px*/
	/*Member List Animation*/
	--disable-enable-memberlist-effect: 50px /*Set 240px to Disable*/;
}
/*********************************************************************************************************************************************************************************************************************/
/*Rainbow Name Animations*/
/*Change "PUT YOUR DISCORD USER ID HERE" to your discord ID*/
[style*="avatars/PUT YOUR DISCORD USER ID HERE"].avatar-large+.comment h2 strong {
    animation: rainbow3 4s linear infinite;
}
/*********************************************************************************************************************************************************************************************************************/
/*User Edits Zone*/
/*Here you can make your edits to the theme at your will, pls only do those if you are sure to know what are you doing*/








/*********************************************************************************************************************************************************************************************************************/
@keyframes rainbow3 { /* If you have Lag Problems with the theme then delete the "@" in the beggining of this line*/
    0%{text-shadow: 0 0 6px #ff0000, 0 0 6px #ff0000, 0 0 5px #ff0000, 0 0 4px #ff0000;} 
    20%{text-shadow: 0 0 6px orange, 0 0 6px orange, 0 0 5px orange, 0 0 4px orange;} 
    40%{text-shadow: 0 0 6px yellow, 0 0 6px yellow, 0 0 5px yellow, 0 0 4px yellow;} 
    60%{text-shadow: 0 0 6px #00ff00, 0 0 6px #00ff00, 0 0 5px #00ff00, 0 0 4px #00ff00;} 
    80%{text-shadow: 0 0 6px #0000ff, 0 0 6px #0000ff, 0 0 5px #0000ff, 0 0 4px #0000ff;} 
    90%{text-shadow: 0 0 6px #ff0000, 0 0 6px #ff0000, 0 0 5px #ff0000, 0 0 4px #ff0000;}
    100%{text-shadow: 0 0 6px #ff0000, 0 0 6px #ff0000, 0 0 5px #ff0000, 0 0 4px #ff0000;} 
}
/* Created by Waterin#6451 <@288053351579648000>


Helped by:
.intrnl#6939 <@177744816665395200>
modder4869(Helped me with code and gave advises to make the theme work smoothly)
DevilsLynAvenged#6457 <@235302947058089984> (helped me code some hard things that were hard for me as i was still learning CSS)
Mixter213#5731 <@214478470972047360>
uri#0001 <@148059412165033984>
XGN|NFLD99#0001 <@187615613944856576> (Wrote some of the animations for me)