// _map.scss

$ID:(
    Sly:"288053351579648000",
    Mitchell:"124989722668957700",
    Rauko:"224518756964106242",
);
$Icons: (
    BDV2:(
		Connectivity:"https://i.imgur.com/bQvyru1.png", 
    	Core:"https://i.imgur.com/cFguxdd.png",
    	UI:"https://i.imgur.com/4MB7sBk.png",
    	Emotes:"https://i.imgur.com/wzJ45ST.png",
    	SandP:"https://i.imgur.com/u3DH90z.png",
    	CSS:"https://i.imgur.com/WiFhr7l.png",
    	Plugins:"https://i.imgur.com/maMWTEk.png",
    	Themes:"https://i.imgur.com/HytSE2i.png",
    ),
    Discord-Settings:(
    	Account:"https://i.imgur.com/JiqAZZL.png",
       	Privacy:"https://i.imgur.com/u3DH90z.png",
        AuthApps:"https://i.imgur.com/XatJIsh.png",
        Connections:"https://i.imgur.com/bQvyru1.png",
        Billing:"https://i.imgur.com/N9Pdppe.png",
        Nitro:"https://i.imgur.com/GlXbFE2.png",
        HypeSquad:"https://i.imgur.com/BQL91yY.png",
        VoiceandVideo:"https://i.imgur.com/s5baFjh.png",
        Overlay:"https://i.imgur.com/cV9RC69.png",
        Notif:"https://i.imgur.com/4dV8uJo.png",
        Keybinds:"https://i.imgur.com/KSr1jyg.png",
        GameAct:"https://i.imgur.com/9UEN7MO.png",
        GameLib:"https://i.imgur.com/fdM3x1X.png",
        TextandImages:"https://i.imgur.com/W013ZQ4.png",
        Appearance:"https://i.imgur.com/OyhJRdS.png",
        Stream:"https://i.imgur.com/P3Ga5wm.png",
        Lang:"https://i.imgur.com/LNhK1Nl.png",
        Windows:"https://i.imgur.com/lQ7SED1.png",
        ChangeLog:"https://i.imgur.com/BqEf5ME.png",
        Logout:"https://i.imgur.com/95xE6jS.png",
    ),
    Main-Screen:(
        ChatMuted:"https://i.imgur.com/spR0PzM.png",
        Crown:"https://i.imgur.com/NqYlnVI.png",
        MicOn:"https://i.imgur.com/s5baFjh.png",
        MicOff:"https://i.imgur.com/DVBQNn8.png",
        VolumeOn:"https://i.imgur.com/6BNgp0c.png",
        VolumeOff:"http s://i.imgur.com/cln9Eyu.png",
        Attach:"https://i.imgur.com/rg00Tlw.png",
        NotifOn:"https://i.imgur.com/4dV8uJo.png",
        NotifOff:"https://i.imgur.com/yTtS6hi.png",
        Pin:"Not Defined",
        MemberOn:"https://i.imgur.com/gJjNzkO.png",
        MemberOff:"https://i.imgur.com/XdPyoMC.png",
        Mention:"https://i.imgur.com/lJPNvgs.png",
        Help:"https://i.imgur.com/mk916fx.png",
        AddFriend:"https://i.imgur.com/HsvPfsX.png",
        Phone:"https://i.imgur.com/VeTsq4k.png",
		Edit:"https://i.imgur.com/yH1uR31.png",
    )
);