/*//META{"name":"Coloured-Discord-Theme-RGB","description":"Support Server: https://discord.gg/ADn3Mqd","author":"Waterin","version":"3.02"}*//**/
/*Theme*/
@import url('https://waterin.github.io/Coloured-Discord-Theme/Source/Coloured-Discord-Theme-RGB.theme.css');
/*Fonts*/ /*Change link to be able to use your own font*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*Emoji Module*/
@import url(https://rawgit.com/Waterin/Animations-Module/master/Emojis.css);
/*Avatar Module*/
@import url(https://rawgit.com/Waterin/Animations-Module/master/Coloured-Discord-Themes-RGB-Avatar-Animations.css);
/*Unread Module*/
@import url(https://rawgit.com/Waterin/Animations-Module/master/Coloured-Discord-Themes-RGB-Unread-Animations.css);

/*Example on how to disable a module*/
/*@import url(https://cdn.rawgit.com/Waterin/Animations-Module/b27741e1/Ignited-Discord-Avatar-Animations.css);*/
/*Must be done with the links above and not just add */

/*#*/ /*This symbol indicates what might cause major lag*/

/*Contact Waterin#6451 <@288053351579648000> or join https://discord.gg/ADn3Mqd for further help*/

:root {
    /*Theme Selector*/
    --Red: 120;   /*********************************************/
    --Green: 0; /*Values are from 0 to 255 like in a RGB code*/
    --Blue: 0;    /*********************************************/
    /*Background Image*/
	--main-bg-dark: url(https://i.imgur.com/9s5zWxn.jpg) !important;  /*RGB input allowed*/
	--main-bg-light: url(https://i.imgur.com/WcBzzCn.jpg) !important; /*RGB input allowed*/
	/*Background Brightness*/
	--bg-brightness: 0.1; /*Adjust background brightness (0: original image, 1: black)*/
	/*Font Settings*/
    --theme-font: 'Ubuntu';
    --font-thickness: 900;
	/*Size of the avatar in chat*/
    --chatavatar-size: 40px; /*Default: 40px*/
	/*Member List Animation*/
	--disable-enable-memberlist-effect: 50px /*Set 240px to Disable*/;
    --disable-blockedmsgs:; /*Leave blank to show blocked people messages, Set 'none' to hide*/

/*Avatar Settings*/ /*#*/
    /*Size of the avatar in chat when hovered*/
	/*/////Works only with the Avatar Module Enabled/////*/
	--chatavatar-size-on-hover: 70px; /*Default: 70px*/
}
/*********************************************************************************************************************************************************************************************************************/
/*User Edits Zone*/
/*Here you can make your edits to the theme at your will, pls only do those if you are sure to know what are you doing*/





/*********************************************************************************************************************************************************************************************************************/
/* Created by Waterin#6451 <@288053351579648000>

Helped by:
Mitchell#6410 <@124989722668957700> | Helped me update the theme and fix when I was unable too and supports my Patreon <3.
Rauko#8832 <@224518756964106242> | Helped sharing the theme and helped making some decisions torwards the theme when I needed.

Code help related:
.intrnl#6939 <@177744816665395200> |
modder4869 | Helped me with code and gave advises to make the theme work smoothly.
DevilsLynAvenged#6457 <@235302947058089984> | Helped me code some hard things that were hard for me as i was still learning CSS.
Mixter213#5731 <@214478470972047360> |
uri#0001 <@148059412165033984> |
XGN|NFLD99#0001 <@187615613944856576> | Wrote some of the animations for me.
Zerebos#7790 <@249746236008169473> | Helped me a ton to get my themes back working after some class renaming and restructuration.

Hate list:
Discord web designers
*/
