/*Font Color*/
#app-mount .description-3_Ncsb,#app-mount .labelDescriptor-1PqHgD,#app-mount .defaultColor-1_ajX0,#app-mount .h5-18_1nd,.nameDefaultText-24KCy5,.nameDefaultVoice-3WUH7s,.nameHoveredText-1uO31y,.nameHoveredVoice-YJ1Vfd,.nameLockedVoice-26MhB1,.nameSelectedText-sp_EUw,.nameSelectedVoice-1qSph5, .nameUnreadText-DfkrI4,.nameUnreadVoice-EVo-wI,.iconCollapsed-3hFp_8,.iconDefault-3Gr8d2,.nameCollapsed-34uFWo,.nameDefault-2DI02H,#app-mount .markup-2BOw-j,#app-mount .embedDescription-1Cuq9a,#app-mount .embedFieldValue-nELq2s,#app-mount .embedFooterText-28V_Wb,#app-mount .embedProvider-3k5pfl,#app-mount .itemDefault-3Jdr52,#app-mount .itemHover-EnbcjT,#app-mount .membersGroup-v9BXpm,#app-mount .bda-header,#app-mount .bda-description,#app-mount #bd-settings-sidebar .ui-tab-bar-item,#app-mount #bd-settings-sidebar .ui-tab-bar-header,#app-mount #bd-settingspane-container h2.ui-form-title,.bd-pfbtn,#app-mount .text-GwUZgS,#app-mount .title-2BxgL2,.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy,.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF,#app-mount .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,.friendsTable-133bsv .friendsRow-2yicud .discord-tag .username,#app-mount .itemDescription-234GLf,#app-mount .title-1Qzsze,.headerCellContent-1pLtOr,#app-mount .icon-1IKq3C,#app-mount .textCell-1aBIUP,.nameCellText-1mpqtF,.lookFilled-1Gx00P .contents-18-Yxp,.lookInverted-2D7oAl .contents-18-Yxp,.lookLink-9FtZy- .contents-18-Yxp,.lookOutlined-3sRXeN .contents-18-Yxp,#app-mount .channelName-2rTyk5,#app-mount .activityActivityFeed-3xysim,.content-3JfFJh,#app-mount .activityActivityFeed-3xysim .details-38sfDr,#app-mount .playTime-2SuPqW,#app-mount .gameName-wzJptK,#app-mount .discriminator-1Kma2g,#app-mount .username-XRo90I,#app-mount .discriminator-pIKHPn,#app-mount .playTime-1laRtO,#app-mount .friendsOnline-_wi_fM,#app-mount .channelIcon-MsmKOO,#app-mount .membersGroup-v9BXpm,.nameWrapper-10v56U .name-2WpE7M,.name-2WpE7M, .nameWithActivity-1ceSyU,.privateChannels-1nO12o header,#app-mount .headerText-2niCs_,#app-mount .dockItemText-3qYREY,.paginationSubtitle-12e1s6,.paginationTitle-3U5ymz,.headerTitle-3gIsns,.theme-dark .tag-10JqWu,#app-mount .title-1aVOXw,.linkButtonIcon-Mlm5d6,#app-mount .topic-2QX7LI,#app-mount .channelName-3stJzi,#app-mount .groupDM-3qU0Ks .channelName-3stJzi,#app-mount .groupDMManaged-1GyXtq .channelName-3stJzi,#app-mount .input-autosize-input,#app-mount .input-autosize-input:focus,#app-mount .timestampCozy-2hLAPV,#app-mount .embedAuthorName-3mnTWj,#app-mount .embedFieldName-NFrena,#app-mount .embedTitle-3OXDkz#app-mount .markup-2BOw-j code,#app-mount .markup-2BOw-j code.inline#app-mount .introBlurb-3gFgTQ,#app-mount .introHeader-4MPach,#app-mount .side-8zPYf6 .header-2RyJ0Y{
	color: var(--Font-Color);
}
.da-markup .repoUtils{
	color: var(--Font-Color) !important;
	filter:invert(1);
}
#app-mount .membersGroup-v9BXpm,
.side-8zPYf6 .header-2RyJ0Y:first-child,
#bd-settings-sidebar .ui-tab-bar-header,
.side-8zPYf6 .header-2RyJ0Y,
[style*="font-size: 12px; font-weight: 600; color: rgb(114, 118, 125); padding: 2px 10px;"]{
    color:var(--Font-Color)!important;
}
/*Theme Version*/
.wordmark-2iDDfm:after {
	content: 'Welp#8';
	position: absolute;
	font-size: 17px;
	font-weight: bolder;
	color: white;
	font-family: Ubuntu;
	display: block;
	top: 4px;
	left: 65px;
}
/*Tags*/
.avatar-17mtNa,
.avatar-17mtNa .image-33JSyf,
.headerCozyMeta-rdohGq,
.headerCozyMeta-rdohGq span {
    display: contents;
}
.avatar-17mtNa .image-33JSyf[style*='/a_']::after{
    content: 'Nitro';
    font-weight: bold !important;
    border-radius: 3px;
    border-style:solid;
    border-width: 0px;
    border-color: transparent;
    flex-shrink: 0;
    font-size: .655em;
    font-weight: 500;
    line-height: 1.3;
    margin-left: 1ch;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #7289da;
    color: #fff;
    order: 2;
}

.avatar-17mtNa .image-33JSyf[style*='avatars/124989722668957700']::after {
    content: 'Patron';
    font-weight: bold !important;
    border-radius: 3px;
    border-style:solid;
    border-width: 0px;
    border-color: darkred;
    flex-shrink: 0;
    font-size: .655em;
    font-weight: 500;
    line-height: 1.3;
    margin-left: 1ch;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #ffd700;
    color: darkred;
    order: 2;
}
.avatar-17mtNa .image-33JSyf[style*='avatars/224518756964106242']::after {
    content: 'Contributor';
    font-weight: bold !important;
    border-radius: 3px;
    border-style:solid;
    border-width: 0px;
    border-color: darkred;
    flex-shrink: 0;
    font-size: .655em;
    font-weight: 500;
    line-height: 1.3;
    margin-left: 1ch;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: middle;
    background: rgb(231, 76, 60);
    color: #000;
    order: 2;
}
.avatar-17mtNa .image-33JSyf[style*='avatars/288053351579648000']::after {
    content: 'Creator';
    font-weight: bold !important;
    border-radius: 3px;
    border-style:solid;
    border-width: 0px;
    border-color: darkred;
    flex-shrink: 0;
    font-size: .655em;
    font-weight: 500;
    line-height: 1.3;
    margin-left: 1ch;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #00f;
    color: #fff;
    order: 2;
}
.timestampCozy-2hLAPV {
    order: 3;
}
.avatar-17mtNa .image-33JSyf::before {
    content: '';
    background-image: inherit;
    width: var(--chatavatar-size);
    height: var(--chatavatar-size);
    background-size: cover;
    margin: 1px 19px 20px;
    border-radius: 2%;
    border          : 5px solid rgba(var(--Red),var(--Green),var(--Blue),0.2);
	border-radius   : 1!important;
	transition      : all .4s ease !important;
	opacity         : 1!important;
	background-repeat: no-repeat;
}
.avatar-17mtNa .image-33JSyf::before:hover {
    border-radius   : 5px!important;
}
.avatar-17mtNa .image-33JSyf:hover {
    height: var(--chatavatar-size-on-hover);
    width: var(--chatavatar-size-on-hover);
    animation: pulse 2.5s linear infinite!important;
}

.avatar-17mtNa .image-33JSyf::before {
    transition: all .25s ease-in-out;
}
@keyframes pulse{
    0%{box-shadow: 1px 1px 20px rgba(0,0,0,0);} 
	50%{box-shadow: 1px 1px 20px rgba(var(--Red),var(--Green),var(--Blue),1);}
    100%{box-shadow: 1px 1px 20px rgba(0,0,0,0);} 
}
.userPopout-3XzG_A {
    display:relative;
    margin-left: 450px;
    margin-top: 200px;
}
