/*Font Color*/
#app-mount .markup-2BOw-j,
#app-mount .embedDescription-1Cuq9a,
#app-mount .embedFieldValue-nELq2s,
#app-mount .embedFooterText-28V_Wb,
#app-mount .embedProvider-3k5pfl,
#app-mount .itemDefault-3Jdr52,
#app-mount .itemHover-EnbcjT,
#app-mount .membersGroup-v9BXpm,
#app-mount .bda-header,
#app-mount .bda-description,
#app-mount #bd-settings-sidebar .ui-tab-bar-item,
#app-mount #bd-settings-sidebar .ui-tab-bar-header,
#app-mount #bd-settingspane-container h2.ui-form-title,
.bd-pfbtn,
#app-mount .text-GwUZgS,
#app-mount .title-2BxgL2,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .friendActivityText-2lmziy,
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 .statusText-2F9zIF,
#app-mount .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
.friendsTable-133bsv .friendsRow-2yicud .discord-tag .username,
#app-mount .itemDescription-234GLf,
#app-mount .title-1Qzsze,
.headerCellContent-1pLtOr,
#app-mount .icon-1IKq3C,
#app-mount .textCell-1aBIUP,
.nameCellText-1mpqtF,
.lookFilled-1Gx00P .contents-18-Yxp,
.lookInverted-2D7oAl .contents-18-Yxp,
.lookLink-9FtZy- .contents-18-Yxp,
.lookOutlined-3sRXeN .contents-18-Yxp,
#app-mount .channelName-2rTyk5,
#app-mount .activityActivityFeed-3xysim,
.content-3JfFJh,
#app-mount .activityActivityFeed-3xysim .details-38sfDr,
#app-mount .playTime-2SuPqW,
#app-mount .gameName-wzJptK,
#app-mount .discriminator-1Kma2g,
#app-mount .username-XRo90I,
#app-mount .discriminator-pIKHPn,
#app-mount .playTime-1laRtO
#app-mount .friendsOnline-_wi_fM,
#app-mount .channelIcon-MsmKOO,
#app-mount .membersGroup-v9BXpm,
.nameWrapper-10v56U .name-2WpE7M,
.name-2WpE7M, .nameWithActivity-1ceSyU,
.privateChannels-1nO12o header,
#app-mount .headerText-2niCs_,
#app-mount .dockItemText-3qYREY,
.paginationSubtitle-12e1s6,
.paginationTitle-3U5ymz,
.headerTitle-3gIsns,
.theme-dark .tag-10JqWu,
#app-mount .title-1aVOXw,
.linkButtonIcon-Mlm5d6,
#app-mount .topic-2QX7LI,
#app-mount .channelName-3stJzi,
#app-mount .groupDM-3qU0Ks .channelName-3stJzi,
#app-mount .groupDMManaged-1GyXtq .channelName-3stJzi,
#app-mount .input-autosize-input,
#app-mount .input-autosize-input:focus,
#app-mount .timestampCozy-2hLAPV,
#app-mount .embedAuthorName-3mnTWj,
#app-mount .embedFieldName-NFrena,
#app-mount .embedTitle-3OXDkz
#app-mount .markup-2BOw-j code,
#app-mount .markup-2BOw-j code.inline
#app-mount .introBlurb-3gFgTQ,
#app-mount .introHeader-4MPach,
#app-mount .side-8zPYf6 .header-2RyJ0Y,
[style="font-size: 12px; font-weight: 600; color: rgb(114, 118, 125); padding: 2px 10px;"]{
	color: var(--Font-Color);
}
/*Theme Version*/
.wordmark-2iDDfm:after {
	content: 'Testing Font Color';
	position: absolute;
	font-size: 10px;
	font-weight: bolder;
	color: white;
	font-family: Titan One;
	display: block;
	top: 2px;
	left: 65px;
}
