// _games-section.scss

#app-mount .personalizationNotice-2HTAH2 {
	background-color: rgba(var(--Red),var(--Green),var(--Blue),0.2) !important;
	border-color: rgba(calc(var(--Red) + 50),calc(var(--Green) + 50),calc(var(--Blue) + 50),0.5) !important;
}
.article-3kb3qm {
	background: rgba(var(--Red),var(--Green),var(--Blue),0.1);
}
.article-3kb3qm:hover {
	background: rgba(0,0,0,0);
}
.carousel-2WxMes {
	background: rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),0.7) !important;
}
.paginationItem-2lUq0s:after{
	background: linear-gradient(270deg,transparent 0,rgba(var(--Red),var(--Green),var(--Blue),0.2));
}
#app-mount .premium-39U29H {
	background: linear-gradient(270deg,rgba(var(--Red),var(--Green),var(--Blue),0.6) ,rgba(var(--Red),var(--Green),var(--Blue),1));
}
#app-mount .description-3rB3Rp {
	background:linear-gradient(180deg,transparent,rgba(32,34,37,.75) 45%,rgba(var(--Red),var(--Green),var(--Blue),0.6))
}
#app-mount .itemBackground-2vEldQ:before{
	background:linear-gradient(90deg,rgba(var(--Red),var(--Green),var(--Blue),0) ,rgba(var(--Red),var(--Green),var(--Blue),1));
}
.pagination-2WQt4H{
	background:linear-gradient(transparent,rgba(var(--Red),var(--Green),var(--Blue),0.2))
}
#app-mount .tileWrapper-2khh-w{
	background:rgba(var(--Red),var(--Green),var(--Blue),0.5)
}
#app-mount .tileWrapper-2khh-w:hover{
	background:rgba(calc(var(--Red) - 10),calc(var(--Green) - 10),calc(var(--Blue) - 10),1)
}
#app-mount .premium-39U29H:before{
	background-image:none;
}
.paginationItem-2lUq0s:after:hover {
	background: transparent;
}
.paginationItem-2lUq0s:before{
	background: rgba(var(--Red),var(--Green),var(--Blue),1);
}
#app-mount .dockItem-2kQDqg:hover{
	background: rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),0.4) !important;
}
#app-mount .card-7JP0BX {
	background: transparent;
}
#app-mount .header-1RC2Wb {
	background: rgba(var(--Red),var(--Green),var(--Blue),0.4);
}
.headerButtonColor-G7_f-V,
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
	background: rgba(var(--Red),var(--Green),var(--Blue),0.2);
}
#app-mount .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
	background: rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),0.4);
}
#app-mount .body-SKIE6r {
	background: rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),0.4);
}
.news-2GDtLJ,
.newsLink-38Naqi {
	background: rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),0.5);
}
.news-2GDtLJ:hover,
.newsLink-38Naqi:hover {
	background: rgba(calc(var(--Red) - 10),calc(var(--Green) - 10),calc(var(--Blue) - 10),0.6);
}
.wrapper-129saQ {
	background: rgba(var(--Red),var(--Green),var(--Blue),0.6);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover{
	background: rgba(var(--Red),var(--Green),var(--Blue),1);
}
#app-mount .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY,
#app-mount .headerCell-3L6rFG,
#app-mount .header-39GIC8,
#app-mount .player-1kJMbj,
#app-mount .headerText-2niCs_,
#app-mount .distributionApplicationsActions-3D2_kD,
#app-mount .premiumApplicationsHeader-Zmkm5e,
#app-mount .selectedSort-2JSohJ,
#app-mount .sortFilterBar-3hePOV,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ{
	border-color: rgba(calc(var(--Red) - 20),calc(var(--Green) - 20),calc(var(--Blue) - 20),1);
}
#app-mount .sectionLine-JjseS9{
	background:rgba(calc(var(--Red) - 20),calc(var(--Green) - 20),calc(var(--Blue) - 20),1);
}
#app-mount .tileMedia-24cT6_,
#app-mount .searchBox-3Y2Vi7 {
	background: rgba(var(--Red),var(--Green),var(--Blue),0.5);
}
#app-mount .mediaDescription-31GsyQ {
	background: linear-gradient(to top,rgba(var(--Red),var(--Green),var(--Blue),1),transparent);
}
#app-mount .mediaFade-4Pqtcc {
	background: transparent
}
#app-mount .popout-2sKjHu {
	background: rgba(var(--Red),var(--Green),var(--Blue),1);
}
#app-mount .optionActive-KkAdqq{
	background: rgba(calc(var(--Red) - 20),calc(var(--Green) - 20),calc(var(--Blue) - 20),1);
}
.selectLabel-2ltwlE{
	color:rgba(var(--Red),var(--Green),var(--Blue),1);
}
#app-mount .popout-2xBvMR,
#app-mount .focused-2bY0OD,
#app-mount .focused-1Yu0L3,
#app-mount .resultFocused-3aIoYe{
	background: rgba(calc(var(--Red) - 20),calc(var(--Green) - 20),calc(var(--Blue) - 20),1);
}
#app-mount .iconCircle-1dlYo0,
#app-mount .arrow-1QsYio,
#app-mount .container-3ayLPN {
	background: rgba(var(--Red),var(--Green),var(--Blue),1);
}
#app-mount .arrow-1QsYio{
	color:#fff;
}
#app-mount .browseSearchInput-Jt8kg0{
	background: rgba(var(--Red),var(--Green),var(--Blue),0.3);
}
#app-mount .announcingNitro-3Ptg6m{
	color:rgba(calc(var(--Red) + 20),calc(var(--Green) + 20),calc(var(--Blue) + 20),1);
}
#app-mount .learnMoreButton-1OUyxs{
	background:rgba(calc(var(--Red) + 10),calc(var(--Green) + 10),calc(var(--Blue) + 10),1);
	color:#fff
}