// _settings-section.scss
/*Settings Menu*/

.side-8zPYf6 .header-2RyJ0Y:first-child {
    /*User Settings Font*/
    color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    font-weight: 700 !important;
}

.side-8zPYf6 .header-2RyJ0Y {
    /*User Settings Font*/
    color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    font-weight: 700 !important;
}

.side-8zPYf6 .itemSelected-1qLhcL {
    background-color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    border-left: 4px solid rgba(calc(var(--Red) + 70), calc(var(--Green) + 70), calc(var(--Blue) + 70), 1) !important;
}

#app-mount .separator-gCa7yv {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

#bd-settings-sidebar .ui-tab-bar-header {
    color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    font-weight: 700 !important;
}

#bd-settings-sidebar .ui-tab-bar-separator {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

#bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    border-left: 4px solid rgba(calc(var(--Red) + 70), calc(var(--Green) + 70), calc(var(--Blue) + 70), 1) !important;
}

.ui-standard-sidebar-view,
.ui-standard-sidebar-view * a {
    color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
}

.side-8zPYf6 .item-PXvHYJ:hover {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.3) !important;
}

#app-mount .cardPrimary-1Hv-to {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.6) !important;
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 0.5) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(calc(var(--Red) + 10), calc(var(--Green) + 10), calc(var(--Blue) + 10), 1) !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
}

#app-mount .cardPrimaryOutline-29Ujqw {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.6) !important;
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 0.5) !important;
}

#app-mount .accountBtnInner-sj5jLs {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 0.5) !important;
}

#app-mount .accountBtnInner-sj5jLs:hover {
    background-color: rgba(calc(var(--Red) + 10), calc(var(--Green) + 10), calc(var(--Blue) + 10), 1) !important;
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 0.5) !important;
}

#app-mount .cardPrimaryEditable-3KtE4g {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.6) !important;
}

#app-mount .modal-3HD5ck {
    background-color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
}

#app-mount .footer-2yfCgX {
    background-color: rgba(calc(var(--Red) - 10), calc(var(--Green) - 10), calc(var(--Blue) - 10), 1) !important;
}

#app-mount .item-3eFBNF {
    box-shadow: inset 0 -1px 0 0 rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

#app-mount .questionMark-CWEQZn {
    background-color: rgba(calc(var(--Red) + 10), calc(var(--Green) + 10), calc(var(--Blue) + 10), 1) !important;
}

.avatar-uploader .remove-button {
    color: rgba(calc(var(--Red) + 60), calc(var(--Green) + 60), calc(var(--Blue) + 60), 1) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: rgba(calc(var(--Red) + 60), calc(var(--Green) + 60), calc(var(--Blue) + 60), 1) !important;
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 1) !important;
}

#app-mount .input-cIJ7To.focused-1mmYsC {
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 1) !important;
}

#app-mount .divider-3573oO {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

.divider-3gKybi:not(.red-1YQ4s7) div,
.divider-3gKybi:not(.red-1YQ4s7) div {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

#app-mount .bar-2Qqk5Z {
    background: rgba(100, 100, 100, 1) !important;
}

.barFill-23-gu- {
    background: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 1) !important;
}

*[style*="background-color: rgb(114, 137, 218)"] {
    border-color: rgba(calc(var(--Red) + 50), calc(var(--Green) + 50), calc(var(--Blue) + 50), 1) !important;
}

#app-mount .select-2TCrqx .Select-option.is-selected {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
}

#app-mount .user-settings-games .game {
    box-shadow: 0 1px 0 0 rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
    border-color: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
}

#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(calc(var(--Red) - 10), calc(var(--Green) - 10), calc(var(--Blue) - 10), 1) !important;
}

#app-mount .checked-3_4uQ9 {
    border-color: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
    color: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
}

#app-mount .checked-3_4uQ9[style*="border-color: rgb(114, 137, 218);"] {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
    border-color: rgba(calc(var(--Red) + 20), calc(var(--Green) + 20), calc(var(--Blue) + 20), 1) !important;
}

#app-mount .select-2TCrqx .Select-menu-outer {
    background-color: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
}

#app-mount .card-FDVird:before {
    background: rgba(var(--Red), var(--Green), var(--Blue), 1) !important;
    border-color: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
}

#app-mount .notificationsSound-27jFSh {
    box-shadow: inset 0 -1px 0 0 rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

.selected-mKYnfr.option-n0icdO {
    background: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
}

.topLeft-3buHIc:hover,
.topRight-3GKDeL:hover,
.bottomLeft-39-xss:hover,
.bottomRight-1T56wW:hover {
    background: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 0.4) !important;
}

.wrapper-3jrx9n {
    border-color: rgba(calc(var(--Red) + 30), calc(var(--Green) + 30), calc(var(--Blue) + 30), 1) !important;
}

#app-mount .nowPlaying-284llR {
    background: rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}

#app-mount .game-1ipmAa {
    box-shadow: 0 1px 0 0 rgba(var(--Red), var(--Green), var(--Blue), 0.4) !important;
}
/*BDV2 Shit*/
.bd-modal .bd-modalInner {
    background: rgba(calc(var(--Red) - 30), calc(var(--Green) - 30), calc(var(--Blue) - 30), 1) !important;
    border-color: transparent;
}

.bd-dropdown .bd-dropdownOptions,
.bd-dropdown.bd-active .bd-dropdownCurrent {
    background: rgba(calc(var(--Red) - 10), calc(var(--Green) - 10), calc(var(--Blue) - 10), 1) !important;
    border-color: transparent;
}

.bd-backdrop {
    background: transparent;
}
.bd-tooltip, .bd-popover {
    background:rgba(var(--Red),var(--Green),var(--Blue),0.3);
}
.bd-materialButton:hover {
    background:rgba(var(--Red),var(--Green),var(--Blue),0.4);
}
.bd-vtext {
   	&::before {
   		content:'CDT v4.00 by Sly Jonas';
        color:darkred!important;
       	position:absolute;
       	margin-top:-15px;
   	}
}